<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.happys.mapper.ClassMapper">
    <!-- 查询所有person -->  
    <select id="listClassGrade" resultType="Classgrade" >
        SELECT * FROM classgrade
    </select>
    <select id="listClassName" resultType="Classname" >
        SELECT * FROM classname
    </select>
    <select id="listClassLesson" resultType="Classlesson" >
        SELECT * FROM classlesson
    </select>
</mapper>